@import './bootstrap.scss';
@import './neobrutalism/core.scss';

// ------------ Font ------------------------- //
/* JetBrains Mono */
.font-jetbrains-mono,
.font-mono {
  font-family: 'JetBrains Mono', monospace;
}

/* Space Grotesk */
.font-space-grotesk,
.font-heading {
  font-family: 'Space Grotesk', sans-serif;
}

/* DM Sans */
.font-dm-sans,
.font-body {
  font-family: 'DM Sans', sans-serif;
}
