@mixin raised-variant {
  box-shadow: var(--#{$theme-prefix}brutal-shadow-default) var(--#{$theme-prefix}brutal-shadow-default) 0 var(--#{$theme-prefix}brutal-border-color);

  &:disabled,
  &.disabled {
    border-color: var(--#{$theme-prefix}brutal-border-color);
  }

  &:hover,
  &:active,
  &:focus {
    box-shadow: 0 0 0 var(--#{$theme-prefix}brutal-border-color);
    transition: var(--#{$theme-prefix}brutal-transition);
  }

  &-sm {
    box-shadow: var(--#{$theme-prefix}brutal-shadow-sm) var(--#{$theme-prefix}brutal-shadow-sm) 0 var(--#{$theme-prefix}brutal-border-color);

    &:disabled,
    &.disabled {
      border-color: var(--#{$theme-prefix}brutal-border-color);
    }

    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 0 0 var(--#{$theme-prefix}brutal-border-color);
      transition: var(--#{$theme-prefix}brutal-transition);
    }
  }

  &-lg {
    box-shadow: var(--#{$theme-prefix}brutal-shadow-xl) var(--#{$theme-prefix}brutal-shadow-xl) 0 var(--#{$theme-prefix}brutal-border-color);

    &:disabled,
    &.disabled {
      border-color: var(--#{$theme-prefix}brutal-border-color);
    }

    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 0 0 var(--#{$theme-prefix}brutal-border-color);
      transition: var(--#{$theme-prefix}brutal-transition);
    }
  }

  &-xl {
    box-shadow: var(--#{$theme-prefix}brutal-shadow-2xl) var(--#{$theme-prefix}brutal-shadow-2xl) 0 var(--#{$theme-prefix}brutal-border-color);

    &:disabled,
    &.disabled {
      border-color: var(--#{$theme-prefix}brutal-border-color);
    }

    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 0 0 var(--#{$theme-prefix}brutal-border-color);
      transition: var(--#{$theme-prefix}brutal-transition);
    }
  }
}

@mixin raised-single {
  box-shadow: var(--#{$theme-prefix}brutal-shadow-sm) var(--#{$theme-prefix}brutal-shadow-sm) 0 var(--#{$theme-prefix}brutal-border-color);
}

@mixin static-raised-variant {
  box-shadow: var(--#{$theme-prefix}brutal-shadow-sm) var(--#{$theme-prefix}brutal-shadow-sm) 0 var(--#{$theme-prefix}brutal-border-color);

  &-sm {
    box-shadow: var(--#{$theme-prefix}brutal-shadow-xs) var(--#{$theme-prefix}brutal-shadow-xs) 0 var(--#{$theme-prefix}brutal-border-color);
  }
  &-lg {
    box-shadow: var(--#{$theme-prefix}brutal-shadow-lg) var(--#{$theme-prefix}brutal-shadow-lg) 0 var(--#{$theme-prefix}brutal-border-color);
  }
  &-xl {
    box-shadow: var(--#{$theme-prefix}brutal-shadow-xl) var(--#{$theme-prefix}brutal-shadow-xl) 0 var(--#{$theme-prefix}brutal-border-color);
  }
}

@mixin bottom-raised-variant {
  box-shadow: 0 var(--#{$theme-prefix}brutal-shadow-sm) 0 var(--#{$theme-prefix}brutal-border-color);

  &-sm {
    box-shadow: 0 var(--#{$theme-prefix}brutal-shadow-xs) 0 var(--#{$theme-prefix}brutal-border-color);
  }
  &-lg {
    box-shadow: 0 var(--#{$theme-prefix}brutal-shadow-lg) 0 var(--#{$theme-prefix}brutal-border-color);
  }
  &-xl {
    box-shadow: 0 var(--#{$theme-prefix}brutal-shadow-xl) 0 var(--#{$theme-prefix}brutal-border-color);
  }
}