.btn {
  // Button Regular -------------------------------
  border-color: $dark;
  display: flex;
  align-items: center;
  gap: .5rem;
  transition: all 0.1s;
  max-width: fit-content;

  &-check:checked,
  &-check:hover,
  &-check:active {
    + .btn {
      border-color: $dark;
    }
  }

  &:disabled,
  &.disabled {
    border-color: $dark !important;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: $dark !important;
    outline: none;
  }

  &-neoraised {
    @include raised-variant;
  }

  &-outline-light {
    color: $dark;
  }
}

// .btn-group -------------------------------
.btn-group {
  transition: all 0.1s;

  &-neoraised {
    @include raised-variant;
  }
}

.btn-back-top {
  position: fixed;
  z-index: $zindex-toast + 10;
  bottom: 1rem;
  right: 1rem;

  @extend .btn-neoraised;
}
