.navbar {
  &-neoraised-bottom {
    border: 0;
    border-bottom: 1px solid $dark;
    @include bottom-raised-variant;
  }

  &-neoraised {
    border: 1px solid $dark;
    @include static-raised-variant;
  }
  
  &-toggler {
    border: 1px solid $dark;
    padding: .125rem;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include raised-single;

    &-icon {
      background-position: center center;
    }
  }
}