<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ title }} - {{ web_title }}</title>
    {% block linksheaderfirst %}{% endblock %} {% block scriptheaderfirst %}{%
    endblock %} {% include 'src/layouts/partials/font.html' %}

    <link rel="stylesheet" href="/assets/scss/neostrap.scss" />

    {% block linksheader %}{% endblock %} {% block scriptheader %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}

    <script src="/assets/js/init-theme.ts" type="module"></script>
    <script src="/assets/js/main.ts" type="module"></script>

    {% block js %}{% endblock %}
  </body>
</html>
