<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ title }} - {{ appName }}</title>
    {% block linksheaderfirst %}{% endblock %} 
    {% block scriptheaderfirst %}{% endblock %} 
    
    {% include 'src/layouts/partials/font.html' %}
    {% include 'src/layouts/partials/favicon.html' %}

    <link rel="stylesheet" href="/assets/scss/neostrap.scss" />

    {% block linksheader %}{% endblock %} 
    {% block scriptheader %}{% endblock %}

    {% block styles %}{% endblock %} 
  </head>
  <body>
    {% include 'src/layouts/partials/navbars/primary.html' %} 
    
    {% block content %}{% endblock %}

    {% include 'src/layouts/partials/footer/single.html' %} 

    <script src="/assets/js/init-theme.ts" type="module"></script>
    <script src="/assets/js/neostrap.ts" type="module"></script>
    <script src="/assets/static/js/all.js" type="module"></script>

    {% block js %}{% endblock %}
  </body>
</html>
