<nav id="main-navbar" class="navbar navbar-primary border-bottom border-dark bg-white navbar-expand-md fixed-top">
  <div class="container">
    <a class="navbar-brand font-space-grotesk fw-bold" href="/">NeoStrap</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="donasiDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Bantu Donasi Donk!
          </a>
          <ul class="dropdown-menu" aria-labelledby="donasiDropdown">
            <li>
              <a href="https://saweria.co/catatancakadi" class="justify-content-between dropdown-item d-flex gap-2 align-items-center" target="_blank">
                <span>Saweria</span>
                <i class="fas fa-external-link fa-fw"></i>
              </a>
            </li>
            <li>
              <a href="https://trakteer.id/cakadi190" class="justify-content-between dropdown-item d-flex gap-2 align-items-center" target="_blank">
                <span>Trakteer</span>
                <i class="fas fa-external-link fa-fw"></i>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item"><a href="docs-component-index.html" class="nav-link">Lihat Komponen</a></li>
        <li class="nav-item"><a href="pricing.html" class="nav-link">Harga</a></li>
        <li class="nav-item"><a href="docs-component-index.html" class="nav-link">Dokumentasi</a></li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="https://github.com/kokodingin/neostrap-core" class="nav-link" target="_blank">
            <i class="fab fa-github fa-fw"></i>
            GitHub
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
